USE [linxdbDIMSHendok]
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveFromStockChange]    Script Date: 2025/07/21 13:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_SaveFromStockChange]
    @from_dc INT,
    @from_warehouse INT,
    @from_zone INT,
    @from_department INT,
    @from_category VARCHAR(10),
    @product VARCHAR(50),
    @label_type VARCHAR(20),
    @quantity INT,
    @timestamp DATETIME,
    @userId INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO tblStockChange_From (
        DCID,
        WarehouseID,
        ZoneID,
        DepartmentID,
        CategoryID,
        Product,
        LabelType,
        Quantity,
        ChangedAt,
        ChangedBy
    )
    VALUES (
        @from_dc,
        @from_warehouse,
        @from_zone,
        @from_department,
        @from_category,
        @product,
        @label_type,
        @quantity,
        @timestamp,
        @userId
    );
END


select * from tblStockChange_From


select * from tblStockChange_To

