USE [linxdbDIMSHendok]
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveToStockChange]    Script Date: 2025/07/21 15:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_SaveToStockChange]
    @to_dc INT,
    @to_warehouse INT,
    @to_zone INT,
    @to_department INT,
    @to_category VARCHAR(10),
    @to_product VARCHAR(50),
    @type_weight INT,
    @timestamp DATETIME,
    @userId INT,
    @stockType nvarchar(300)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO tblStockChange_To (
        DCID,
        WarehouseID,
        ZoneID,
        DepartmentID,
        CategoryID,
        Product,
        TypeWeight,
        ChangedAt,
        ChangedBy,
        StockType
    )
    VALUES (
        @to_dc,
        @to_warehouse,
        @to_zone,
        @to_department,
        @to_category,
        @to_product,
        @type_weight,
        @timestamp,
        @userId,
        @stockType
    );
END
