-- =============================================
-- Author:		Robin Baillie
-- Create date: 2023-03-16
-- Description:	Returns the Invoices  for specific Customer + company
-- =============================================
ALTER PROCEDURE [dbo].[spReturnCustomerInvoiceList] 
	-- Add the parameters for the stored procedure here
	@customer nvarchar(255),
	@company nvarchar(255)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--[DeliveryDate Added] Date 2025/03/28
	-- Updated to 3 month Date[2025-03-28]

	SET NOCOUNT ON;
		declare @SelectString varchar(max) = N'select i.InvNumber, i.DeliveryDate from [' + @company + '].dbo.Client c
		inner join  [' + @company + '].dbo.InvNum I on i.AccountID = c.DCLink
	 where Account =  '+''''+@customer+''''+' and len(InvNumber)>3 and  i.DeliveryDate > DATEADD(MONTH, -3, GETDATE())' 
 print @selectstring

	exec (@SelectString)
END

