USE [linxdbDIMSHendok]
GO
/****** Object:  StoredProcedure [dbo].[spApproveUpliftment]    Script Date: 2025/04/01 11:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Robin Baillie
-- Updated by: for Damilare 😎 (2025/03/31) (Changes for Making Sure 2 or more User has to Approve An Upliftment)
-- Description: Approves the upliftment to make it available for the picking planner
-- Requires at least 2 distinct user approvals
-- =============================================
ALTER PROCEDURE [dbo].[spApproveUpliftment]
	@upliftmentnumber INT,  --Johnson Changes (2025/03/31)
	@userid INT, --Johnson Changes (2025/03/31)
	@bitHandingFee BIT, --Johnson Changes (2025/03/31)
	@strComment NVARCHAR(MAX) --Johnson Changes (2025/03/31)
AS
BEGIN
	SET NOCOUNT ON;

	-- Email Notification Setup (unchanged)
	DECLARE @Recipient NVARCHAR(100) 
	DECLARE @CreatorId INT
	DECLARE @SendList NVARCHAR(500)

	SELECT @Recipient = u.Email, @CreatorId = u.UserID 
	FROM tblUpliftmentHeaders uh
	INNER JOIN tblDIMSUSERS u ON u.UserID = uh.intUserID
	WHERE uh.intUpliftmentNumber = @upliftmentnumber

	SELECT @SendList = STRING_AGG(emails.strEmail + ',', '') + @Recipient
	FROM (
		SELECT DISTINCT strEmail
		FROM viewEmailReportRecipients
		WHERE strType = 'Approve Upliftment' AND strEmail <> @Recipient
	) AS emails

	-- Only proceed if upliftment is not already finalized
	IF NOT EXISTS (
		SELECT 1 
		FROM tblUpliftmentHeaders  
		WHERE intUpliftmentNumber = @upliftmentnumber 
		AND strUpliftmentStatus IN ('Denied', 'Completed', 'Printed')
	)
	BEGIN
		-- Insert approval record (if user hasn't approved already) Johnson Changes (2025/03/31)
		IF NOT EXISTS (
			SELECT 1 
			FROM tblApproveUpliftment 
			WHERE userid = @userid AND intupliftmentnumber = @upliftmentnumber
		)
		BEGIN
			INSERT INTO tblApproveUpliftment (userid, intupliftmentnumber, bitApproved, strComment, dtmApproved)
			VALUES (@userid, @upliftmentnumber, 1, @strComment, GETDATE());
		END

		UPDATE tblUpliftmentHeaders 
			SET 
				bitHandingFee = @bitHandingFee
			WHERE intUpliftmentNumber = @upliftmentnumber;

		-- Count number of unique users who approved Johnson Changes (2025/03/31)
		DECLARE @approvalCount INT;
		SELECT @approvalCount = COUNT(DISTINCT userid)
		FROM tblApproveUpliftment
		WHERE intupliftmentnumber = @upliftmentnumber AND bitApproved = 1;

		-- Approve the upliftment if at least 2 users approved Johnson Changes (2025/03/31)
		IF @approvalCount >= 2
		BEGIN
			UPDATE tblUpliftmentHeaders 
			SET 
				strUpliftmentStatus = 'Approved',
				bitHandingFee = @bitHandingFee
			WHERE intUpliftmentNumber = @upliftmentnumber;

			-- Log approval action
			INSERT INTO tblUpliftmentBacklog(strMessage, intUserID, intUpliftmentNumber)
			VALUES ('Upliftment Approved', @userid, @upliftmentnumber);
		END
	END
END


