USE [linxdbDIMSHendok]
GO
/****** Object:  StoredProcedure [dbo].[spUpliftmentDeny]    Script Date: 2025/04/01 11:30:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spUpliftmentDeny]   --Johnson  (2025/03/31) (Changes Insert Deny action into tblApproveUpliftment)
    @intupliftmentnumber INT,
    @userid INT,
    @strComment NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Recipient NVARCHAR(100) 
    DECLARE @SendList NVARCHAR(500)

    SELECT @Recipient = u.Email 
    FROM tblUpliftmentHeaders uh
    INNER JOIN tblDIMSUSERS u ON u.UserID = uh.intUserID
    WHERE uh.intUpliftmentNumber = @intupliftmentnumber

    SET @SendList = @Recipient

    IF NOT EXISTS (
        SELECT 1 
        FROM tblUpliftmentHeaders  
        WHERE intUpliftmentNumber = @intupliftmentnumber 
        AND strUpliftmentStatus IN ('Approved', 'Printed', 'Completed')
    )
    BEGIN
        -- Insert Deny action into tblApproveUpliftment   --Johnson  (2025/03/31) (Changes Insert Deny action into tblApproveUpliftment)
        INSERT INTO tblApproveUpliftment (userid, intupliftmentnumber, bitApproved, strComment, dtmApproved)
        VALUES (@userid, @intupliftmentnumber, 0, @strComment, GETDATE());

        -- Update main header status
        UPDATE tblUpliftmentHeaders 
        SET strUpliftmentStatus = 'Denied'
        WHERE intUpliftmentNumber = @intupliftmentnumber;

        -- Log to backlog
        INSERT INTO tblUpliftmentBacklog(intUserID, intUpliftmentNumber, strMessage)
        VALUES (@userid, @intupliftmentnumber, 'Upliftment Denied');

        -- Email notification
        DECLARE @company NVARCHAR(50) = (SELECT strCompany FROM tblUpliftmentHeaders WHERE intUpliftmentNumber = @intupliftmentnumber)
        DECLARE @client NVARCHAR(50) = (SELECT strCustomer FROM tblUpliftmentHeaders WHERE intUpliftmentNumber = @intupliftmentnumber)
        DECLARE @area NVARCHAR(50)   = (SELECT strArea FROM tblUpliftmentHeaders WHERE intUpliftmentNumber = @intupliftmentnumber)

        INSERT INTO tblCommunications(SendTo, Subject, Type, Body, DealtWith)
        VALUES (
            @SendList,
            'Denied Upliftment UPL#' + RIGHT('000000' + CAST(@intupliftmentnumber AS VARCHAR), 6),
            'HTMLEmail',
            '<html>
                <body>
                    <p>The following upliftment UPL#' + RIGHT('000000' + CAST(@intupliftmentnumber AS VARCHAR), 6) + ' has been denied.</p>
                    <ul>
                        <li>Company: ' + @company + '</li>
                        <li>Client:  ' + @client + '</li>
                        <li>Area:    ' + @area + '</li>
                    </ul>
                    <p>Regards,</p>
                    <p>Hendok DIMS</p>
                </body>
            </html>',
            0
        );
    END
END
