:root {
    --hendok-dark: #443f3f;
    --hendok-dark-highlight: #7e706f;
    --hendok-light: #ffffff;
    --hendok-light-highlight: #ecded9;
    --hendok-red: #e63f2d;
    --hendok-red-highlight: #ec7758;
}
